.note-wrapper{
    display: inline-block;
    position: relative;
    height: fit-content;
    margin: 1rem 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(153, 153, 153);
}

.title{
    font-size: 1rem;
    /* margin: 1rem; */
    padding: 1rem;
}
.content > p{
    font-size: 1rem;
    /* display: inline-block; */
    /* height: 100%; */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem; 
}

.btn-wrapper{
    display: flex;
    justify-content: flex-end;
}
.bnt-delete{
    background-color: transparent;
    border: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 176, 58);
    font-weight: 400;
    margin: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.bnt-delete:hover{
    background-color: rgb(255, 176, 58);
    color: white;
}